/*** Start css of #_lp_block_6843910[data-block-layout='344306'] .lpc-product-4__image ***/

#_lp_block_6843910[data-block-layout='344306'] .lpc-product-4__image {
	border-color: rgb(255,148,23);
	border-width: 4px;
	border-style: solid;
	box-shadow: 0 0 0 0 rgb(255, 148, 23);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

/*** End css of #_lp_block_6843910[data-block-layout='344306'] .lpc-product-4__image ***/
/*** Start css of #_lp_block_6843910[data-block-layout='344306'] .lpc-button--type-1 ***/

#_lp_block_6843910[data-block-layout='344306'] .lpc-button--type-1 {
	background-image: none;
	background-color: rgb(236,130,8);
}

/*** End css of #_lp_block_6843910[data-block-layout='344306'] .lpc-button--type-1 ***/
/*** Start css of #_lp_block_6843910[data-block-layout='344306'] .lpc-button--type-1:hover ***/

#_lp_block_6843910[data-block-layout='344306'] .lpc-button--type-1:hover {
	background-image: none;
	background-color: rgb(255, 150, 28);
}

/*** End css of #_lp_block_6843910[data-block-layout='344306'] .lpc-button--type-1:hover ***/
/*** Start css of #_lp_block_6843910[data-block-layout='344306'] .lpc-button--type-1:active ***/

#_lp_block_6843910[data-block-layout='344306'] .lpc-button--type-1:active {
	background-image: none;
	background-color: rgb(197, 108, 7);
}

/*** End css of #_lp_block_6843910[data-block-layout='344306'] .lpc-button--type-1:active ***/
