/* Google fonts */
/* Roboto */
@font-face {
  font-family: "Roboto";
  src: url("/dkbs-en/g/fonts/roboto/roboto-t.eot");
  src: url("/dkbs-en/g/fonts/roboto/roboto-t.eot?#iefix") format("embedded-opentype"), url("/dkbs-en/g/fonts/roboto/roboto-t.woff2") format("woff2"), url("/dkbs-en/g/fonts/roboto/roboto-t.woff") format("woff"), url("/dkbs-en/g/fonts/roboto/roboto-t.ttf") format("truetype"), url("/dkbs-en/g/fonts/roboto/roboto-t.svg#roboto") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/dkbs-en/g/fonts/roboto/roboto-t-i.eot");
  src: url("/dkbs-en/g/fonts/roboto/roboto-t-i.eot?#iefix") format("embedded-opentype"), url("/dkbs-en/g/fonts/roboto/roboto-t-i.woff2") format("woff2"), url("/dkbs-en/g/fonts/roboto/roboto-t-i.woff") format("woff"), url("/dkbs-en/g/fonts/roboto/roboto-t-i.ttf") format("truetype"), url("/dkbs-en/g/fonts/roboto/roboto-t-i.svg#roboto") format("svg");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/dkbs-en/g/fonts/roboto/roboto-l.eot");
  src: url("/dkbs-en/g/fonts/roboto/roboto-l.eot?#iefix") format("embedded-opentype"), url("/dkbs-en/g/fonts/roboto/roboto-l.woff2") format("woff2"), url("/dkbs-en/g/fonts/roboto/roboto-l.woff") format("woff"), url("/dkbs-en/g/fonts/roboto/roboto-l.ttf") format("truetype"), url("/dkbs-en/g/fonts/roboto/roboto-l.svg#roboto") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/dkbs-en/g/fonts/roboto/roboto-l-i.eot");
  src: url("/dkbs-en/g/fonts/roboto/roboto-l-i.eot?#iefix") format("embedded-opentype"), url("/dkbs-en/g/fonts/roboto/roboto-l-i.woff2") format("woff2"), url("/dkbs-en/g/fonts/roboto/roboto-l-i.woff") format("woff"), url("/dkbs-en/g/fonts/roboto/roboto-l-i.ttf") format("truetype"), url("/dkbs-en/g/fonts/roboto/roboto-l-i.svg#roboto") format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/dkbs-en/g/fonts/roboto/roboto-r.eot");
  src: url("/dkbs-en/g/fonts/roboto/roboto-r.eot?#iefix") format("embedded-opentype"), url("/dkbs-en/g/fonts/roboto/roboto-r.woff2") format("woff2"), url("/dkbs-en/g/fonts/roboto/roboto-r.woff") format("woff"), url("/dkbs-en/g/fonts/roboto/roboto-r.ttf") format("truetype"), url("/dkbs-en/g/fonts/roboto/roboto-r.svg#roboto") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/dkbs-en/g/fonts/roboto/roboto-i.eot");
  src: url("/dkbs-en/g/fonts/roboto/roboto-i.eot?#iefix") format("embedded-opentype"), url("/dkbs-en/g/fonts/roboto/roboto-i.woff2") format("woff2"), url("/dkbs-en/g/fonts/roboto/roboto-i.woff") format("woff"), url("/dkbs-en/g/fonts/roboto/roboto-i.ttf") format("truetype"), url("/dkbs-en/g/fonts/roboto/roboto-i.svg#roboto") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/dkbs-en/g/fonts/roboto/roboto-m.eot");
  src: url("/dkbs-en/g/fonts/roboto/roboto-m.eot?#iefix") format("embedded-opentype"), url("/dkbs-en/g/fonts/roboto/roboto-m.woff2") format("woff2"), url("/dkbs-en/g/fonts/roboto/roboto-m.woff") format("woff"), url("/dkbs-en/g/fonts/roboto/roboto-m.ttf") format("truetype"), url("/dkbs-en/g/fonts/roboto/roboto-m.svg#roboto") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/dkbs-en/g/fonts/roboto/roboto-m-i.eot");
  src: url("/dkbs-en/g/fonts/roboto/roboto-m-i.eot?#iefix") format("embedded-opentype"), url("/dkbs-en/g/fonts/roboto/roboto-m-i.woff2") format("woff2"), url("/dkbs-en/g/fonts/roboto/roboto-m-i.woff") format("woff"), url("/dkbs-en/g/fonts/roboto/roboto-m-i.ttf") format("truetype"), url("/dkbs-en/g/fonts/roboto/roboto-m-i.svg#roboto") format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/dkbs-en/g/fonts/roboto/roboto-b.eot");
  src: url("/dkbs-en/g/fonts/roboto/roboto-b.eot?#iefix") format("embedded-opentype"), url("/dkbs-en/g/fonts/roboto/roboto-b.woff2") format("woff2"), url("/dkbs-en/g/fonts/roboto/roboto-b.woff") format("woff"), url("/dkbs-en/g/fonts/roboto/roboto-b.ttf") format("truetype"), url("/dkbs-en/g/fonts/roboto/roboto-b.svg#roboto") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/dkbs-en/g/fonts/roboto/roboto-b-i.eot");
  src: url("/dkbs-en/g/fonts/roboto/roboto-b-i.eot?#iefix") format("embedded-opentype"), url("/dkbs-en/g/fonts/roboto/roboto-b-i.woff2") format("woff2"), url("/dkbs-en/g/fonts/roboto/roboto-b-i.woff") format("woff"), url("/dkbs-en/g/fonts/roboto/roboto-b-i.ttf") format("truetype"), url("/dkbs-en/g/fonts/roboto/roboto-b-i.svg#roboto") format("svg");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/dkbs-en/g/fonts/roboto/roboto-bl.eot");
  src: url("/dkbs-en/g/fonts/roboto/roboto-bl.eot?#iefix") format("embedded-opentype"), url("/dkbs-en/g/fonts/roboto/roboto-bl.woff2") format("woff2"), url("/dkbs-en/g/fonts/roboto/roboto-bl.woff") format("woff"), url("/dkbs-en/g/fonts/roboto/roboto-bl.ttf") format("truetype"), url("/dkbs-en/g/fonts/roboto/roboto-bl.svg#roboto") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/dkbs-en/g/fonts/roboto/roboto-bl-i.eot");
  src: url("/dkbs-en/g/fonts/roboto/roboto-bl-i.eot?#iefix") format("embedded-opentype"), url("/dkbs-en/g/fonts/roboto/roboto-bl-i.woff2") format("woff2"), url("/dkbs-en/g/fonts/roboto/roboto-bl-i.woff") format("woff"), url("/dkbs-en/g/fonts/roboto/roboto-bl-i.ttf") format("truetype"), url("/dkbs-en/g/fonts/roboto/roboto-bl-i.svg#roboto") format("svg");
  font-weight: 900;
  font-style: italic;
}
/* \Roboto */
/* End of Google fonts */
/*** Start css of #_lp_block_3798910[data-block-layout='454706'] .lpc-price-list__item ***/
#_lp_block_3798910[data-block-layout='454706'] .lpc-price-list__item {
	color: rgba(98,98,98,1);
	font-size: 24px;
	text-align: left;
	text-align-last: left;
	font-weight: 400;
	text-decoration: none;
	line-height: 120%;
	font-family: Roboto, sans-serif;
	font-style: normal;
}
/*** End css of #_lp_block_3798910[data-block-layout='454706'] .lpc-price-list__item ***/
/*** Start css of #_lp_block_3798910[data-block-layout='454706'] .lpc-price-list__title ***/
#_lp_block_3798910[data-block-layout='454706'] .lpc-price-list__title {
	color: rgba(98,98,98,1);
	font-size: 24px;
	text-align: left;
	text-align-last: left;
	font-weight: 700;
	text-decoration: none;
	line-height: 90%;
	font-family: Roboto, sans-serif;
	font-style: normal;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: rgba(98,98,98,1);
	border-style: solid;
	border-width: 0px;
}
@media screen and (max-width: 1279px) {
#_lp_block_3798910[data-block-layout='454706'] .lpc-price-list__title {
	color: rgba(98,98,98,1);
	font-size: 64px;
	text-align: left;
	text-align-last: left;
	font-weight: 700;
	text-decoration: none;
	line-height: 100%;
	font-family: Roboto, sans-serif;
	font-style: normal;
}
}
@media screen and (max-width: 991px) {
#_lp_block_3798910[data-block-layout='454706'] .lpc-price-list__title {
	color: rgba(98,98,98,1);
	font-size: 64px;
	text-align: left;
	text-align-last: left;
	font-weight: 700;
	text-decoration: none;
	line-height: 100%;
	font-family: Roboto, sans-serif;
	font-style: normal;
}
}
@media screen and (max-width: 767px) {
#_lp_block_3798910[data-block-layout='454706'] .lpc-price-list__title {
	color: rgba(98,98,98,1);
	font-size: 64px;
	text-align: left;
	text-align-last: left;
	font-weight: 700;
	text-decoration: none;
	line-height: 100%;
	font-family: Roboto, sans-serif;
	font-style: normal;
}
}
@media screen and (max-width: 479px) {
#_lp_block_3798910[data-block-layout='454706'] .lpc-price-list__title {
	color: rgba(98,98,98,1);
	font-size: 64px;
	text-align: left;
	text-align-last: left;
	font-weight: 700;
	text-decoration: none;
	line-height: 100%;
	font-family: Roboto, sans-serif;
	font-style: normal;
}
}
/*** End css of #_lp_block_3798910[data-block-layout='454706'] .lpc-price-list__title ***/
/*** Start css of #_lp_block_3798910[data-block-layout='454706'] .lpc-price-list__text ***/
#_lp_block_3798910[data-block-layout='454706'] .lpc-price-list__text {
	color: rgba(98,98,98,1);
	font-size: 16px;
	text-align: left;
	text-align-last: left;
	font-weight: 400;
	text-decoration: none;
	line-height: 100%;
	font-family: Roboto, sans-serif;
	font-style: normal;
}
/*** End css of #_lp_block_3798910[data-block-layout='454706'] .lpc-price-list__text ***/