/*** Start css of #_lp_block_16965602[data-block-layout='339306'] .lpc-elements-text-3__text ***/

#_lp_block_16965602[data-block-layout='339306'] .lpc-elements-text-3__text {
	color: rgba(0,0,0,1);
	font-size: 18px;
	text-align: left;
	text-align-last: left;
	font-weight: 400;
	text-decoration: none;
	line-height: 166%;
	font-family: Times New Roman, Times, serif;
	font-style: normal;
}

/*** End css of #_lp_block_16965602[data-block-layout='339306'] .lpc-elements-text-3__text ***/