/*** Start css of #_lp_block_4510710[data-block-layout='338106'] .lpc-elements-text-1__text ***/

#_lp_block_4510710[data-block-layout='338106'] .lpc-elements-text-1__text {
	color: rgba(0,0,0,1);
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	line-height: NaN%;
	font-style: normal;
	text-align: left;
	text-align-last: left;
}

/*** End css of #_lp_block_4510710[data-block-layout='338106'] .lpc-elements-text-1__text ***/